h1{
text-align: center;
background-color: aqua;
margin-top: 5%;
}
main{
    flex-grow: 1;
    flex-shrink: 1;
    width: 80%;
    text-align: center;
    background-color: aquamarine;
    margin-top: 5%;
    flex-direction: column;
}
article{
    display: flex;
    background-color: lightblue; margin-top: 5%;
    flex-direction: column; text-align: center;}
aside{
    width: 10%;
    display: flex; 
    flex-grow: 0;
    flex-shrink: 0;
    background-color: lightcoral; 
    margin-top: 5%;
    flex-direction: column;}
aside{
    width: 10%;
    display: flex; 
    background-color: lightcoral; 
    margin-top: 5%;
    flex-direction: column;}
    
}